/** 展示样式 **/
.markdown-body {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    word-wrap: break-word;
    font-size: 16px;
    overflow-x: auto;
    line-height: 1.6
}

.markdown-body * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.markdown-body>*:first-child {
    margin-top: 0 !important
}

.markdown-body>*:last-child {
    margin-bottom: 0 !important
}

.markdown-body a {
    background-color: transparent;
    word-wrap: break-word;
    color: #0366d6;
    text-decoration: none
}

.markdown-body a:active,.markdown-body a:hover {
    outline-width: 0
}

.markdown-body a:hover {
    text-decoration: underline
}

.markdown-body a:not([href]) {
    color: inherit;
    text-decoration: none
}

.markdown-body strong {
    font-weight: 600
}

.markdown-body [type="checkbox"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0
}

.markdown-body input {
    margin: 0;
    overflow: visible;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

.markdown-body hr {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    overflow: hidden;
    height: 0.25em;
    padding: 0;
    margin: 24px 0;
    background-color: #e1e4e8;
    border: 0
}

.markdown-body hr::before {
    display: table;
    content: ""
}

.markdown-body hr::after {
    display: table;
    clear: both;
    content: ""
}

.markdown-body::before {
    display: table;
    content: ""
}

.markdown-body::after {
    display: table;
    clear: both;
    content: ""
}

.markdown-body p,.markdown-body blockquote,.markdown-body ul,.markdown-body ol,.markdown-body dl,.markdown-body table,.markdown-body pre {
    margin-top: 0;
    margin-bottom: 16px
}

.markdown-body p {
    line-height: 1.6;
    word-break: break-word
}

.markdown-body blockquote {
    margin-left: 0;
    margin-right: 0;
    padding: 0 1em;
    color: #6a737d;
    border-left: 0.25em solid #dfe2e5
}

.markdown-body blockquote>:first-child {
    margin-top: 0
}

.markdown-body blockquote>:last-child {
    margin-bottom: 0
}

.markdown-body kbd {
    display: inline-block;
    padding: 3px 5px;
    line-height: 10px;
    color: #444d56;
    vertical-align: middle;
    background-color: #fafbfc;
    border-radius: 3px;
    font: 11px "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    line-height: 10px;
    border: solid 1px #d1d5da;
    border-bottom-color: #c6cbd1;
    -webkit-box-shadow: inset 0 -1px 0 #c6cbd1;
    box-shadow: inset 0 -1px 0 #c6cbd1
}

.markdown-body h1,.markdown-body h2,.markdown-body h3,.markdown-body h4,.markdown-body h5,.markdown-body h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25
}

.markdown-body h1 {
    font-size: 2em
}

.markdown-body h2 {
    font-size: 1.5em
}

.markdown-body h3 {
    font-size: 1.25em
}

.markdown-body h4 {
    font-size: 1em
}

.markdown-body h5 {
    font-size: 0.875em
}

.markdown-body h6 {
    font-size: 0.85em;
    color: #6a737d
}

.markdown-body ul,.markdown-body ol {
    padding-left: 2em
}

.markdown-body ul ul,.markdown-body ul ol,.markdown-body ol ol,.markdown-body ol ul {
    margin-top: 0;
    margin-bottom: 0
}

.markdown-body ol ol,.markdown-body ul ol {
    list-style-type: lower-roman
}

.markdown-body ul ul ol,.markdown-body ul ol ol,.markdown-body ol ul ol,.markdown-body ol ol ol {
    list-style-type: lower-alpha
}

.markdown-body ol li {
    list-style: decimal
}

.markdown-body ul li {
    list-style: initial
}

.markdown-body li {
    word-break: break-all;
}

.markdown-body li>p {
    margin-top: 16px
}

.markdown-body li+li {
    margin-top: 0.25em
}

.markdown-body dl {
    padding: 0
}

.markdown-body dd {
    margin-left: 0
}

.markdown-body dl dt {
    padding: 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic;
    font-weight: 600
}

.markdown-body dl dd {
    padding: 0 16px;
    margin-bottom: 16px
}

.markdown-body table {
    border-spacing: 0;
    border-collapse: collapse;
    display: block;
    width: 100%;
    overflow: auto
}

.markdown-body td,.markdown-body th {
    padding: 0
}

.markdown-body table th {
    font-weight: 600
}

.markdown-body table th,.markdown-body table td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5
}

.markdown-body table tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1
}

.markdown-body table tr:nth-child(2n) {
    background-color: #f6f8fa
}

.markdown-body img {
    max-width: 100%;
    border-style: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    background-color: #fff
}

.markdown-body img[align=right] {
    padding-left: 20px
}

.markdown-body img[align=left] {
    padding-right: 20px
}

.markdown-body code {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(27,31,35,0.05);
    border-radius: 3px
}

.markdown-body pre {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    padding: 16px;
    overflow: auto;
    font-size: 14px;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 3px;
    word-wrap: normal
}

.markdown-body pre code {
    display: inline;
    max-width: none;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0
}

.markdown-body pre>code {
    font-size: 100%;
    word-break: normal;
    white-space: pre;
}

